body {
    margin: 0;
    padding: 0;
}

.menu-superior{
    background: #34A853;
    height: 120px;
}

.menu-superior-logo{
    padding-top: 1.5%;
    padding-left: 5%;

    float:left;
}

.menu-superior-frase{
    color: white;
    padding-top: 1.5%;
    text-align: center;

}

.menu-superior-itens{
    float: right;
    padding-right: 5%;
    padding-top: 1%;
    height: 100%;
}

.entrar{
    height:100%;
    width: 100%;
    text-decoration: none;

}

.inscreverse{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}