html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e9ebee;
}

.menu-superior{
    background-image: url("4bestbackground-top.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 62px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 2px 5px #888888;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    margin:0 auto;
}

.lupa{
    text-decoration: none;
    color: black;
    margin-left: -30px;
    position: relative;
}
.campo{
    padding-top: 15px;
    margin-left: 530px;

}

.procura{
    border: none;
    border-radius: 15px;
    padding-right: 100px;
    padding-left: 15px;
    height: 30px;
    position: relative;

}

.procura:hover{
    border: none;
}

.procura:active{
    border: none;
    outline-offset: 0px;
}
.logo{
    margin-top: 9px;
    margin-left: 100px;
    float: left;
    color: white;

}

#logo{
    height: 45px;
    width: 38px;

}

.icons{
    float: right;
    font-size: 23px;
    margin-top: 3px;
    margin-right: 100px;
    color: white;
    width: 120px;
    word-spacing: 15px;
}

.icones-topright{
    text-decoration: none;
    color: white;

}

.conteudo{
    float: left;
}


.pai-de-todos{
    margin: 0 auto;
}

.campos-margin-top{
    margin-top: 50px;
}

.campos{
    background-color: antiquewhite;
    margin: 0 auto;
    width: 700px;
    height: 230px;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #888888;
    border: 1px solid #e1e2e3;
}

.perfil-usuario-nome{
    color: black;
    margin-left: 15px;
    margin-top: 2px;
    font-family: "Arial";
    text-decoration: none;
    font-weight: 600;
}


.perfil-imagem-nome-usuario{
    float: right;
    width: 180px;
    height: 229px;
    background-color: #ffffff;

    border: 1px solid #e1e2e3;
}

.perfil-imagem-usuario{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 12px;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: #dedfe2;
    overflow: hidden;
}

#perfil-perfil{
    width: 150px;
    height: 150px;
    background: red;
}

.sobre{
    height: 80px;
    float:left;
    margin-top: 15px;
    margin-left: 15px;
}

.biografia{
    float:left;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e2e3;
    height: 100px;
    width: 400px;
}

.alterar{
    text-decoration: none;
    color: black;
}

#bio-usuario{
    font-family: "Arial";
    font-weight: 600;

}

#descricao-bio{
    margin-top: 5px;
    font-family: "Arial";
}

.icones-sobre{
    color: grey;
}

.dados-sobre{
    margin-left: 10px;
    font-family: "Arial";
}

.icones-sobre-local{
    color: grey;
    padding-left: 3px;
    padding-right: 5px;
}

.icones-sobre-celular{
    color: grey;
    padding-left: 4px;
    padding-right: 7px;
}

.alterar-dados{
    margin-top: 16px;
}

/* -------------------
CSS dos Posts no FEED */
.perfil{
    width: 100px;
    height: 100px;
    background: red;
}

.tabela-posts-feed{
    margin-top: 0px;
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

.post-usuario{
    width: 500px;
    height:170px;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #888888;
    border: 1px solid #e1e2e3;
    float:left;
}

.usuario-nome{
    color: black;
    margin-left: 12px;
    margin-top: 125px;
    font-family: "Arial";
    text-decoration: none;
    font-weight: 600;
}


.imagem-nome-usuario{
    float: right;
    width: 130px;
    height: 100%;
}

.imagem-usuario{
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: #dedfe2;
    overflow: hidden;
}


.assunto-post-tabela{
    color: black;
    margin-left: 20px;
    height: 25px;
    border-bottom: 1px solid #888888;
    width: 350px;
}

.texto-post-tabela{
    color: black;
    margin-left: 20px;
    height: 80px;
}

.icones-post-tabela{
    margin-left: 20px;
}

.icones-post-apoiar{
    color: #888888;
}

.icones-post-doar{
    color: #888888;
    margin-left: 5px;
}

.apoiar{
    margin-left: 5px;
    font-size: 18px;
    font-family: Verdana;
}

.assunto-e-texto{
    font-family: "Verdana";
    font-size: 14px;
}























